#center_img{ background: url("../images/home_1024_2.png") no-repeat 0 -136px transparent;width:990px;height:203px;margin-top:40px;}
.bar{width:990px;}
.ie7 .bar{width:990px;overflow:hidden;}
#blue_bar{padding:5px;position:relative;float:left;width:485px;height:70px;background-color:#005AAB;}
#blue_bar #details{position:absolute;right:120px;top:17px;height:50px;width:267px;}
#blue_bar #details #img{float:left;width:50px;height:50px;background:url('../images/home_1024_2.png') 0px 0px no-repeat;display:inline-block;}
#blue_bar #details p#baseFont{margin-left:12px;float:left;}
#blue_bar #details p #smallFont{color:white;font-weight;bolder;font-size:16px;display:block;}
#blue_bar #details #bigFont{margin-top:4px;color:white;font-weight;bolder;font-size:34px!important;display:block;}
.ie7 #blue_bar #details #bigFont{height:30px;display:inline-block;font-size:31px!important;}

#red_bar{padding:5px;position:relative;float:left;width:485px;height:70px;background-color:#ED1B24;}
#red_bar #details{position:absolute;left:25px;top:17px;height:50px;width:267px;}
#red_bar #details #img{float:left;width:50px;height:50px;background:url('../images/home_1024_2.png') -53px 0px no-repeat;display:inline-block;}
#red_bar #details p#baseFont{margin-left:10px;float:left;}
#red_bar #details p #smallFont{color:white;font-weight;bolder;font-size:16px;display:block;}
#red_bar #details p #bigFont{margin-top:4px;color:white;font-weight;bolder;font-size:34px!important;display:block;}
.ie7 #red_bar #details p #bigFont{height:30px;display:inline-block;font-size:31px!important;}
#bottom_bar{padding:10px;height:60px;}

#bottom_bar #empty{float:left;margin-right:0px!important;height:50px;width:140px;}
#bottom_bar #shipping{float:left;width:180px;height:50px;margin-top:5px;}
#bottom_bar #shipping #img{float:left;background:url('../images/home_1024_2.png') -336px 11px;display:inline-block;width:50px;height:50px;}
#bottom_bar #shipping #text{margin-top:16px;float:left;font-weight: bolder;}

#bottom_bar #delivery{float:left;width:270px;height:50px;margin-top:5px;}
#bottom_bar #delivery #img{float:left;background:url('../images/home_1024_2.png') -382px 11px;display:inline-block;width:50px;height:50px;}
#bottom_bar #delivery #text{margin-top:16px;float:left;font-weight: bolder;}

#bottom_bar #cash_on_delivery{float:left;width:210px;height:50px;margin-top:5px;}
#bottom_bar #cash_on_delivery #img{float:left;background:url('../images/home_1024_2.png') -427px 11px;display:inline-block;width:50px;height:50px;}
#bottom_bar #cash_on_delivery #text{margin-top:16px;float:left;font-weight: bolder;}

#content{background-color:#F4F4F4;}

#bcontent{width:495px;float:left;}
#bcontent #content{border-right:2px solid white}
#bcontent #content div{
    color:#151515;font-weight:bold;float:right;
    margin-right:55px;width:350px;
    margin-top:2px;
    padding:2px;
    margin-left:15px;
    border-bottom:2px dotted silver;
}
#bcontent #content div .space{
    width:5px;display:inline-block;height:3px;float:left;
}
#content{height:445px;}
.ie7 #content{height:355px;}
.ie7 #bcontent #content div{padding-top:0px;margin-top:2px;}
#bcontent #content div span{font-size:12px;}
#bcontent #content div span.main {
    float:left;padding:5px 0px;display:inline-block;width:330px;line-height:200%;margin-top:-2px;
}
.my_blue{color:#0052A3;}
.plus{font-size:16px; margin-top:5px!important;float:left;margin-right:5px;}

#rcontent{width:495px;float:left;}
#rcontent #content div.container{float:left;width:350px;height:62px;border-bottom:2px dotted silver;margin-left:30px;margin-top:15px;}
#rcontent #content div.container span.img{
    float:left;
    display:inline-block;
    width:50px;
    height:50px;
    margin-right:10px;
    margin-top:4px;
}
#rcontent #content div.container #note{
    float:left;font-size:10px;font-weight:bold;width:350px;
    display:inline-block;margin-left:40px;line-height:100%;
    margin-top:-10px;
}
#rcontent #content div.container span#img1{background:url('../images/home_1024_2.png') -114px 0px no-repeat;}
#rcontent #content div.container span#img2{background:url('../images/home_1024_2.png') -172px 0px no-repeat;}
#rcontent #content div.container span#img3{background:url("../images/home_1024_2.png") -222px 0px no-repeat;}
#rcontent #content div.container span#img4{background:url('../images/home_1024_2.png') -286px 0px no-repeat;}

#rcontent #content div.container div.desc span.header{float:left;display:block;color:#ED1B24;font-size:12px;font-weight:bold;}
#rcontent #content div.container div.desc span.footer{margin-top:2px;float:left;display:inline-block;font-size:11px;line-height:120%!important;font-weight:bold;}

div#my_footer{background:#000;padding:5px;}
.ie7 div#my_footer{}    
div#my_footer div#links{float:left;margin-left:130px;margin-right:340px;}
div#my_footer div#links span a{color:white;font-size:10px;font-weight:bold;}    
div#my_footer div#copyrights{color:white;font-weight:bold;font-size:10px;margin-top:0px!important;} 

div#my_header{width:990px;height:80px;}
div#my_header div#container{width:775px;margin-left:150px;margin-top:24px;height:70px;}    
div#my_header div#container span#logo{width:180px;height:60px;display:inline-block;background:url('../images/home_1024_2.png') -864px 0px no-repeat;margin-top:14px;float:left;}
div#my_header div#container p{display:inline-block;margin-top:22px;float:left;margin-left:20px;}
div#my_header div#container p span#text_new{display:block;color:#555555;font-size:12px;font-weight:bold;}
div#my_header div#container p span#text_signup{color:#0059AA;font-size:16px;font-weight:bold;}
div#my_header div#container div#login_container{width:406px;float:left;margin-left:30px;}
div#my_header div#container div#login_container div#top{margin-top:-5px;}
div#my_header div#container div#login_container div#top span#text{float:left;font-size:12px;font-weight:bold;}
div#my_header div#container div#login_container div#top span#twitter_logo{
    float:right;display:inline-block;width:20px;height:20px;
    background:url('../images/home_1024_2.png') -510px -3px no-repeat;margin-left:3px;
}
div#my_header div#container div#login_container div#top #facebook_logo{
    float:right;display:inline-block;width:20px;height:20px;
    background:url('../images/home_1024_2.png') -485px -2px no-repeat;
}
div#my_header div#container div#login_container div#my_login{
    padding:10px;margin-top:5px;float:left;height:26px;width:386px;
    border:1px solid #e5e5e5;border-radius:5px 5px 5px 5px;
}

.ie9 div#my_header div#container div#login_container div#my_login{width:388px;}
.generic div#my_header div#container div#login_container div#my_login{width:388px;}
.ie7 div#my_header div#container div#login_container div#my_login{margin-top:10px;}
    
div#my_header div#container div#login_container div#my_login #mobile_label{float:left;display:inline-block;font-size:12px;margin-top:3px;margin-right:12px;font-weight:bold;}
div#my_header div#container div#login_container div#my_login #mobile{float:left;width:100px;margin-right:7px;font-size:12px;height:16px;}    
div#my_header div#container div#login_container div#my_login #pin_label{float:left;display:inline-block;font-size:12px;margin-top:3px;margin-right:7px;font-weight:bold;}
div#my_header div#container div#login_container div#my_login #pin{float:left;width:100px;margin-right:7px;font-size:12px;height:16px;}
div#my_header div#container div#login_container div#my_login #login{cursor:pointer;display:inline-block;width:70px;height:32px;background:url('../images/home_1024_2.png') -528px 0px no-repeat;margin-top:1px;}

div#myModal{width:220px;position:fixed;top:100px;left:210px;background:#fff;border-radius:8px 8px 8px 8px;z-index:99999;padding:18px;border:none!important;}
.ie7 div#myModal{top:110px;}

div#loaderDiv{display:none;position:absolute;top:80px;left:340px;z-index:9999}
.ie7 div#loaderDiv{top:100px;}
div#signupSuccess{display:none;z-index:9999;width:500px;border:1px solid #e5e5e5;position:absolute;top:80px;left:240px;padding:15px;background:#fff;border-radius:6px;}
.ie7 div#signupSuccess{top:100px;}
div#signupSuccess span h5{color:#005AAB;line-height:130%;text-align:left;font-size:17px!important;margin-top:0px;padding-bottom:0px;margin-bottom:0px;z-index:9999}
.ie7 div#signupFailure{top:100px;}
div#signupFailure{display:none;position:absolute;top:80px;left:240px;background:#fff;width:320px;height:20px;padding:10px;z-index:9999;border-radius:6px;border:1px solid #e5e5e5;}
div#signupFailure span h5{color:#005AAB;line-height:130%;text-align:left;font-size:16px;margin-top:0px;margin-left:0px}

div#error_Div{
	color:#005AAB;line-height:130%;text-align:left;font-size:17px!important;
	margin-top:0px;padding-bottom:0px;margin-bottom:0px;display:none;position:absolute;
	top:80px;left:240px;background:#fff;width:320px;height:20px;padding:10px;z-index:11111;
	border-radius:6px;border:1px solid #e5e5e5;
}

.ie7 div#error_Div{top:100px;}

div#error_Div span h5{color:#005AAB;line-height:130%;text-align:left;font-size:16px;margin-top:0px;margin-left:0px}

form#Signup{margin:0px 0px 5px 0px!important;}

span#forgot_pwd{font-size:12px;float:right;margin-right:32px;font-weight:bold;color:#005AAB;cursor:pointer;}

div#forgotModal{
	width: 260px; position: absolute; top: 120px; border: 1px solid rgb(229, 229, 229); border-radius:6px; 
	background: none repeat scroll 0% 0% white; right: 9%; height: 90px; padding: 20px 15px; z-index:99998;
}

span#img1:hover{background:url("../images/home_1024_2.png") no-repeat scroll 6px -638px transparent!important;}
span#img3:hover{background:url("../images/home_1024_2.png") no-repeat scroll -193px -639px transparent!important;}
span#img4:hover{background:url("../images/home_1024_2.png") no-repeat scroll -293px -638px transparent!important;}